In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('fifa20.csv')
df.head()

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
0,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona,...,68+2,66+2,66+2,66+2,68+2,63+2,52+2,52+2,52+2,63+2
1,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus,...,65+3,61+3,61+3,61+3,65+3,61+3,53+3,53+3,53+3,61+3
2,190871,https://sofifa.com/player/190871/neymar-da-sil...,Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain,...,66+3,61+3,61+3,61+3,66+3,61+3,46+3,46+3,46+3,61+3
3,200389,https://sofifa.com/player/200389/jan-oblak/20/...,J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,183277,https://sofifa.com/player/183277/eden-hazard/2...,E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid,...,66+3,63+3,63+3,63+3,66+3,61+3,49+3,49+3,49+3,61+3

In [3]:
data = pd.DataFrame()

In [10]:
data['height_cm']=df['height_cm']
data['weight_kg']=df['weight_kg']
data['body_type']=df['body_type']

In [13]:
print(data.body_type.unique())
print(data.)

array(['Messi', 'C. Ronaldo', 'Neymar', 'Normal', 'Lean',
       'PLAYER_BODY_TYPE_25', 'Stocky', 'Courtois', 'Shaqiri',
       'Akinfenwa'], dtype=object)

In [15]:
data = data[data.body_type != 'Messi']
data = data[data.body_type != 'C. Ronaldo']
data = data[data.body_type != 'Neymar']
data = data[data.body_type != 'PLAYER_BODY_TYPE_25']
data = data[data.body_type != 'Courtois']
data = data[data.body_type != 'Shaqiri']
data = data[data.body_type != 'Akinfenwa']
data.shape

(18271, 3)

       height_cm  weight_kg  body_type
3          False      False      False
4          False      False      False
5          False      False      False
6          False      False      False
7          False      False      False
8          False      False      False
10         False      False      False
11         False      False      False
12         False      False      False
13         False      False      False
14         False      False      False
15         False      False      False
16         False      False      False
17         False      False      False
18         False      False      False
19         False      False      False
20         False      False      False
21         False      False      False
22         False      False      False
23         False      False      False
24         False      False      False
25         False      False      False
26         False      False      False
27         False      False      False
29         False      False      False
30         False      False      False
31         False      False      False
32         False      False      False
33         False      False      False
34         False      False      False
...          ...        ...        ...
18248      False      False      False
18249      False      False      False
18250      False      False      False
18251      False      False      False
18252      False      False      False
18253      False      False      False
18254      False      False      False
18255      False      False      False
18256      False      False      False
18257      False      False      False
18258      False      False      False
18259      False      False      False
18260      False      False      False
18261      False      False      False
18262      False      False      False
18263      False      False      False
18264      False      False      False
18265      False      False      False
18266      False      False      False
18267      False      False      False
18268      False      False      False
18269      False      False      False
18270      False      False      False
18271      False      False      False
18272      False      False      False
18273      False      False      False
18274      False      False      False
18275      False      False      False
18276      False      False      False
18277      False      False      False

[18271 rows x 3 columns]

In [17]:
X = data.iloc[:, :-1]
Y = data.iloc[:, -1]

In [18]:
X

       height_cm  weight_kg
3            188         87
4            175         74
5            181         70
6            187         85
7            193         92
8            172         66
10           178         73
11           187         89
12           188         89
13           191         91
14           192         82
15           168         72
16           187         85
17           173         70
18           184         82
19           182         86
20           184         80
21           189         76
22           176         73
23           177         75
24           191         84
25           188         86
26           170         69
27           181         76
29           194         85
30           193         92
31           193         92
32           188         82
33           173         67
34           185         77
...          ...        ...
18248        170         69
18249        185         75
18250        178         74
18251        182         78
18252        175         72
18253        178         60
18254        183         66
18255        188         78
18256        185         75
18257        179         72
18258        178         67
18259        185         71
18260        174         62
18261        170         60
18262        182         80
18263        178         69
18264        178         76
18265        170         66
18266        175         70
18267        178         75
18268        178         70
18269        183         74
18270        177         70
18271        180         72
18272        188         84
18273        186         79
18274        177         66
18275        186         75
18276        185         74
18277        182         78

[18271 rows x 2 columns]

In [19]:
Y

3        Normal
4        Normal
5        Normal
6        Normal
7        Normal
8          Lean
10       Normal
11       Normal
12       Normal
13       Normal
14         Lean
15       Normal
16       Normal
17       Stocky
18       Normal
19       Normal
20       Normal
21         Lean
22       Normal
23       Normal
24       Normal
25       Normal
26         Lean
27         Lean
29       Normal
30       Normal
31       Normal
32         Lean
33       Normal
34         Lean
          ...
18248      Lean
18249    Normal
18250      Lean
18251    Normal
18252      Lean
18253      Lean
18254    Normal
18255    Normal
18256    Normal
18257    Normal
18258      Lean
18259      Lean
18260      Lean
18261    Normal
18262      Lean
18263      Lean
18264    Normal
18265    Normal
18266    Normal
18267    Normal
18268    Normal
18269    Normal
18270      Lean
18271    Normal
18272    Normal
18273    Normal
18274    Normal
18275      Lean
18276      Lean
18277    Normal
Name: body_type, Length: 18271, dtype: object

In [20]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=50)

In [21]:
from sklearn.svm import SVC
classifier = SVC( kernel = 'rbf', C=200, gamma = 200)
classifier.fit(X_train, y_train)

SVC(C=200, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma=200, kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [22]:
predict = classifier.predict(X_test)

In [23]:
predict

array(['Normal', 'Normal', 'Lean', ..., 'Normal', 'Normal', 'Normal'],
      dtype=object)

In [24]:
y_test

13975    Normal
2776     Normal
5294     Normal
13750      Lean
13588    Normal
14449    Normal
5441     Normal
7831     Normal
12139      Lean
2646     Normal
3923     Normal
11695    Stocky
10235    Normal
9338       Lean
1998     Normal
6238     Normal
9454     Normal
11643      Lean
1986     Normal
2379     Normal
3212       Lean
17872    Normal
17388      Lean
10466      Lean
1732     Normal
2984     Normal
17870      Lean
12283      Lean
14597    Normal
8468     Normal
          ...
11947    Normal
3025     Normal
1952     Normal
8045       Lean
15367    Normal
4077     Normal
8309     Normal
6956     Normal
8745     Normal
3920       Lean
4681     Normal
16986      Lean
8853       Lean
11928    Normal
1687     Normal
8198       Lean
2698     Normal
12167      Lean
196        Lean
2384     Normal
10134    Normal
13813    Normal
9788     Stocky
8651     Normal
10656      Lean
325      Normal
13276    Normal
201      Normal
3363       Lean
7023     Stocky
Name: body_type, Length: 3655, dtype: object

In [29]:
from sklearn.metrics import confusion_matrix
coma = confusion_matrix(y_test, predict)

In [30]:
coma.shape

(29, 29)

In [25]:
from sklearn.metrics import precision_recall_fscore_support
precision_recall_fscore_support(y_test,predict, average='weighted')

(0.5720073872410908, 0.5986320109439125, 0.567794584543177, None)

In [27]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, predict)

0.5986320109439125